{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% block title %}{% endblock title %}
    </title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">
    {% block stylecss %}

    {% endblock stylecss %}
</head>
<body>
    <!-- navbar.html -->
    <header class="header">
        <nav class="navbar">
            <a href="#">MOVIE-VERSE</a>
            <a href="/">Home</a>
            <a href="/buy-ticket">Buy Ticket</a>
            <a href="/coming-soon">Coming Soon</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Location</a>
                <div class="dropdown-content">
                    <a href="/action">Bandung</a>
                    <a href="/drama">Jakarta</a>
                    <a href="/comedy">Surabaya</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">New User</a>
                <div class="dropdown-content">
                    {% if not request.user.is_authenticated %}
                    <a href="/auth/signup/" class="dropdown-item">Sign Up</a>
                    <a href="/auth/login/" class="dropdown-item">Login</a>
                    {% else %}
                    <a href="/auth/logout/" class="dropdown-item">Log Out</a>
                    {% endif %}
                </div>
            </div>            
            <form action="#" class="search-bar">
                <input type="text" placeholder="Search">
                <button type="submit"><i class='bx bx-search'></i></button>
            </form>
        </nav>
    </header>
    {% block body %}
      
    {% endblock body %}
    
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>


